@import '../../style/globals.scss';

.wrapper{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &__menus{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F1F2F4;
        
        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul{
            list-style: none;
        }
        &__links{
            display: flex;
            gap: 15px;
            li{
                padding: 15px 0 12px 0;
                
            }
            
            a{
                text-decoration: none;
                text-transform: capitalize;
                color: #5E6670;
                padding: 10px 0;

                &:hover{
                    color: $main-color;
                    border-bottom: 2px solid $main-color;
                }
            }
            &__active{
                color: $main-color !important;
                border-bottom: 2px solid $main-color;
            }
        }

        &__info{
            display: flex;
            align-items: center;
            gap: 20px;

            a{
                color: #18191C;
                font-size: 14px;
                font-weight: 600;
            }

            
        }
        &__langs{
            p{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #5E6670;
                cursor: pointer;
            }
            ul{
                display: none;
            }
        }
    }

    &__searchbar{
        padding: 20px 0;
        display: flex;

        &__action{
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 20px;

            &__sign{
                background-color: #fff;
                color: $main-color;
                border: 1px solid #CEE0F5;
            }
            &__post{
                background-color: $main-color;
                color: #fff;
                border: 1px solid $main-color;
            }
        }
    }
}