@import '../../style/globals.scss';

.wrapper{
    background-color: $bg-gray;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    padding: 70px 0;

    .hero{

        &__infos{
            // display: grid;
            grid-template-columns: 55% 38%;
            gap: 7%;

            &__pic{
                img{
                    width: 100%;
                }
            }
        }
    }
}